body {
    font-size: 16px;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.red {
    color: #cc1f1f;
}
.green {
    color: #276F44;
}
/*TOPBAR*/
.b-topbar {
    box-sizing: border-box;
    background: #339059;
}
.topbar,
.header,
.b-content {
    width: 1170px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.topbar__location,
.topbar__telephone {
    position: relative;
    padding: 0 0 0 20px;
    color: rgba(255,255,255,.9);
    line-height: 42px;
}
.topbar__telephone {
    margin-left: 25px;
    text-decoration: none;
}
.topbar__location:before,
.topbar__telephone:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-size: cover;
    position: absolute;
    top: 1px;
    left: 0;
}
.topbar__location:before {
    background-image: url("../img/location.svg");
}
.topbar__telephone:before {
    background-image: url("../img/phone.svg");
}
/*HEADER*/
.header {
    background-color: #fff;
}
.header__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.header__line-search {
    justify-content: flex-start;
}
.header__logo {
    display: block;
    color: #fff;
    font-size: 22px;
    box-sizing: border-box;
    padding: 5px 10px;
    background-color: black;
    text-decoration: none;
}
/*MENU*/
.menu {
    display: block;
    width: 50%;
}
.b-menu {
    display: flex;
    justify-content: space-between;
}
.menu__item {
    padding: 0 10px;
}
.menu__item:first-child {
    padding: 0 10px 0 0;
}
.menu__item:last-child {
    padding: 0 0 0 10px;
}
.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0,0,0,.9);
    position: relative;
}
.menu__link.sale{
    color: #e31837;
}
.menu__link:after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgba(0,0,0,.9);
    transition: width .2s ease;
}
.menu__link.sale:after {
    background-color: #e31837;
}
.menu__link:hover:after{
    width: 100%;
    left: 0;
}
/*ASIDE*/
aside {
    width: 25%;
}
.category {
    width: 25%;
    background: #276F44;
    height: 46px;
    font-size: 0;
    cursor: pointer;
}
.category__icon {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 25px;
    width: 20px;
    height: 16px;
    overflow: hidden;
    padding-top: 15px;
}
.line {
    display: block;
    width: 20px;
    height: 5px;
    border-top: 2px solid #fff;
}
.category__caption {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    height: 46px;
    text-transform: uppercase;
    letter-spacing: .3px;
    font-weight: 700;
    line-height: 46px;
    color: rgba(255,255,255,.9);
}
/*SEARCH*/
.search {
    width: 50%;
    box-sizing: border-box;
    padding: 0 25px;
    font-size: 0;
}
.search__input {
    display: inline-block;
    vertical-align: middle;
    width: 75%;
    padding: 10px;
    height: 40px;
    border-color: rgba(168,168,168,.4);
    box-shadow: inset 3px 3px 3px -3px #dadada;
    border-width: 1px;
    font-size: 15px;
    box-sizing: border-box;
}
.search__input:focus {
    border: 1px solid #276F44;
}
.search__button {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    height: 40px;
    font-size: 16px;
    background: #339059;
    color: #FFF;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
}
.search__button:hover {
    background: #276F44;
}
.b-content {
    display: flex;
    justify-content: space-between;
}
/*CATEGORIES*/
.b-categories {
    border-bottom: 3px solid #276F44;
}
.categories {
    height: 0;
    overflow: hidden;
    margin-top: -2px;

}
.categories.list0 {
    height: 100%;
    overflow: hidden;
}

.categories__item {
    transition: all .3s;
    background-color: #fbbc34;
    box-sizing: border-box;
    padding-top: 15px;
}
.categories__item.categories__item1 {
    background: #339059;
    padding-bottom: 25px;
    position: relative;
}
.categories__item:hover {
    background-color: #fbbc34;
}
.categories__item1:hover .categories.list1,
.categories__item2:hover .categories.list2{
    height: 100%;
}
.categories__link {
    color: rgba(255,255,255,.9);
    text-decoration: none;
    box-sizing: border-box;
}
.categories__link:hover {
    text-decoration: underline;
}
.categories__item1>.categories__link {
    padding-left: 25px;
}
.categories__item2>.categories__link {
    padding-left: 50px;
}
.categories__item3>.categories__link {
    padding-left: 75px;
}
.container {
    width: 75%;
}
/*MAIN*/
.b-main {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 10px;
}
/*PREVIEWS*/
.b-preview {
    width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 35px;
}
.preview {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}
.preview__date {
    display: block;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
}
.preview__img {
    display: block;
    width: 100%;
    /*height: 300px;*/
    background-color: #ccc;
    overflow: hidden;
}
.preview__img>img {
    display: block;
}
.preview__info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.preview__title {
    font-size: 15px;
    line-height: 1.4;
    margin: 10px 0;
    text-decoration: none;
    color: #252222;
    letter-spacing: .3px;
    padding-bottom: 1px;
    transition: all .2s ease;
    flex: 1;
}
.preview__price {
    display: block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.preview__price {
    color: #949494;
}
.preview__select {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #339059;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../img/select.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.preview__select::-ms-expand {
    display: none;
}
.preview__control {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.buy {
    width: 45%;
    background: #339059;
    border: 0;
    box-sizing: border-box;
    padding: 10px 5px;
    text-align: center;
    display: block;
    color: rgba(255,255,255,.9);
    font-size: 14px;
    position: relative;
    transition: all .2s linear;
}
.buy>span {
    font-size: 14px;
}
.buy:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-size: cover;
    position: absolute;
    top: 9px;
    left: -18px;
    background-image: url("../img/cart1.svg");
    transition: left .2s linear;
}
.buy:hover {
    background: #276F44;
}

.buy:hover:before {
    left: 10px;
}
.preview__b-more {
    width: 45%;
    background: #fbbc34;
    box-sizing: border-box;
    padding: 10px 5px;
    color: rgba(255,255,255,.9);
    text-align: center;
}
.preview__more {
    font-size: 14px;
}
.preview__b-more:hover ~ .preview__b-popup {
    display: block;
}
.preview__b-popup {
    position: relative;
    width: 100%;
    display: none;
    top: -1px;
    z-index: 200;
}
.preview__popup {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background: #ccc;
    position: absolute;
    top: 0;
    left: 0;
}
.popup__content {
    line-height: 1.4;
}
/*NOVELTIES*/
.b-novelties {
    margin-top: 50px;
    background: #f6f7f7;
    padding: 0 10px;
    box-sizing: border-box;
}
.novelties {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.novelties__title {
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    color: #292929;
    padding: 15px;
    box-sizing: border-box;
    letter-spacing: .5px;
}
.novelty {
    width: 48%;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    /*position: relative;*/
}
.novelty:hover .novelty__b-popup {
    display: block;
}
.novelty__title {
    color: #252222;
    line-height: 1.2;
}
.novelty__price {
    color: #276F44;
    display: block;
    line-height: 1.4;
    margin-top: 2px;
}
.novelty__b-popup {
    display: none;
    position: relative;
    top: 12px;
    z-index: 200;
}
.novelty__popup {
    display: block;
    position: absolute;
    background: #fff387;
    width: 835px;
    font-size: 0;
}
.novelty:nth-child(odd) .novelty__b-popup{
    right: 449px;
}
.novelty:nth-child(even) .novelty__b-popup{
    left: -15px;
}
.novelty__popup-img {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 300px;
    background: #ccc;
    margin: 15px;
}
.novelty__popup-content {
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}
.novelty__popup-title {
    display: block;
    text-decoration: none;
    color: #276F44;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.novelty__popup__price,
.novelty__popup__stock  {
    display: block;
    line-height: 1.4;
    font-size: 15px;
}
